<div class='error-messages'></div>
<%= link_to 'Sign Out', logout_path %>
<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>
<h1>Filters:</h1>
<input type='text' id='search'>
<button id='filter-read'>Only Read Links</button>
<button id='filter-unread'>Only Unread Links</button>


<div id="links-list"></div>
